@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: white;

  .navbar {
    padding-bottom: 11px;
    .navbar-brand {
      font-size: 29px;
      padding-top: 1px;
      padding-left: 6px;
      padding-bottom: 0px;
      .fab {
        color: #e60023;
      }
    }  
  }

  h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }

  .btn {
    border-radius: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background-color: #e60023;
  }

  .hide {
    display: none;
  }
}
