@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: white;
}

.navbar {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;

  .navbar-brand {
    font-size: 24px;
  }

  #navbar-logout-button {
    border-radius: 25px;
  }
}


