#pin-container {

  .delete-pin {
    position: absolute;
    bottom: 10px;
    left: 200px;
  }
  
  .card {
    border: 0px !important;
    border-radius: 17px !important;
    background-color: rgb(126, 126, 126) !important;
  }
  
  img {
    border-radius: 15px !important;
    opacity: 0.9;
  }
}

